@charset "utf-8";
/* CSS Document */
* {
  /* 清除浏览器自带的内外边 */
  margin: 0;
  padding: 0;
  /* 清除文字装饰线,例如a标签的下划线 */
  text-decoration: none;
  /* 清除列表样式 */
  list-style: none;
  /* 设置盒子宽高的计算方式为:内容＋内边距＋边框 */
  box-sizing: border-box;
  /* 不允许用户选中 */
    /* -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; */
  /* 不允许用户拖动图片 */
  -webkit-user-drag: none;
}
/* a标签默认颜色(自行更改) */
a {
  color: #000;
  -webkit-tap-highlight-color:transparent;
}
a:hover{
  text-decoration: none;
  color: white;
}
/*伪类清除浮动：*/
.clearfix:after {
  /*内容为空*/
  content: "";
  /*高度为0*/
  height: 0;
  /*行高为0*/
  line-height: 0;
  /*以块级元素呈现*/
  display: block;
  /*将元素隐藏*/
  visibility: hidden;
  /*清除元素两侧浮动*/
  clear: both;
}
.clearfix {
  zoom: 1; /*兼容IE*/
}
 
/*单行文本溢出：*/
.overflow {
  /*溢出内容不显示*/
  overflow: hidden;
  /*文本溢出显示...*/
  text-overflow: ellipsis;
  /*不换行*/
  white-space: nowrap;
}
/* 定宽居中时,可对元素直接添加类名:container */
.container {
  margin: 0 auto;
}
设置表格默认样式 table {
  border: 1px solid black;
  /*设置单元格之间的间距*/
  border-spacing: 0;
  /*设置单元格边框是否合并：separate分开; collapse合并*/
  border-collapse: collapse;
}
#app{
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  overflow-y: auto;
}
h1{
  font-size: 24px;
}